@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('https://fastshopwr-a.akamaihd.net/pages/2022/JDDpais_v2/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    }
  @font-face {
    font-family: 'Myriad Pro Bold';
    src: url('https://fastshopwr-a.akamaihd.net/pages/2022/JDDpais_v2/fonts/MYRIADPRO-BOLD.OTF') format('opentype');
    }

#corpo {display: block;position: relative;margin: 0 auto ; width: 100%;max-width: 1600px;box-sizing: border-box; padding: 0; font-family: 'Open Sans', sans-serif; color: #303030;overflow: hidden;}

html { scroll-behavior: smooth;}

a{text-decoration: none;}
hr{width:40%; text-align: center;}
.btn-primario{font-size:0.8vw;background:#0D0303; color:#FFFFFF; padding:3% 5%; border-radius:999px; cursor:pointer;}

/* BARRA COM LOGO FAST E LEJOUR */
#corpo .logo-fast-lejour{width:100%;margin:0 auto; text-align:center; padding:1%;}
#corpo .logo-fast-lejour img{width:10%;}
/* BANNER TOPO */
#corpo .banner_capa::before{padding-top: 31.0625%; }
#corpo .banner_capa{display: block;width: 100%; margin: 0 auto;}
#corpo .banner_capa picture{display: block;width: 100%; height: 79%;}
#corpo .banner_capa picture img{position: relative;display: block;width: 100%; height: 120%;}
#corpo #fast_rotativo picture img:hover{width: 100%;}
#corpo .banner_capa .texto-banner .acesso-mobile{display:none;}
/* texto do banner */
#corpo .banner_capa .texto-banner{height:70%;position: absolute; top: 13%; left: 9%;  }
#corpo .banner_capa .texto-banner a{font-size:0.8vw;background:#ffffff36; padding:2% 4%; border-radius:999px; margin-top:1%; color:#FFFFFF;}
#corpo .banner_capa .texto-banner h1,
#corpo .banner_capa .texto-banner p{color:#FFFFFF;}

#corpo .banner_capa .texto-banner h1{width:47%;font-family:'Myriad Pro Regular';font-size:3.5vw;font-weight:400; margin-bottom:0; line-height:4vw;}
#corpo .banner_capa .texto-banner p{width:61%; margin-bottom:8%; font-size:1.2vw;}
/* NAVEGAÇÃO NA PAGINA */
.nav{ width: 100%; margin-top:1%;}
.nav .botoes{display:flex; align-items:center; justify-content:center; gap:1.5%;}
.nav .botoes a{color:#111111; font-size:1vw;padding:0.5% 1% ;border: 1px solid #111111;border-radius:999px}
.nav .botoes a.btn-primario{font-size:0.9vw;display:flex; align-items:center;justify-content:center;gap:7%;background:#0D0303; color:#FFFFFF; cursor:pointer; font-weight:bold;}
.nav .botoes a.btn-primario img{width:10%;}
/* rotativo */
#corpo .sugestoes::before{padding-top: 41%;}
#corpo .sugestoes {position: relative; width: 100%;margin: 30px auto 0;}
.sugestoes h2{width:46%;font-size:2.2vw;text-align: center; margin:0 auto 5%;}
.sugestoes .texto-solucoes h3{font-size:1vw;}
.sugestoes .texto-solucoes p{font-size:1vw;}

.fast_rotativo2 { position: relative; display: block; margin: 0 auto; width: 75%; max-width: 1600px; }

.fast_rotativo2>picture { display: none !important; }
.fast_rotativo2>picture:first-of-type { display: block !important; }

.fast_rotativo2 picture { position: relative; display: inline-block; width: 70%; margin: 0 auto; padding: 0; }
.fast_rotativo2 picture img { display: block; width: 100%; margin: 0 auto; padding: 0; }
.fast_rotativo2 picture a { position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; margin: 0; padding: 0; }

#corpo .sugestoes .fast_rotativo2 .owl-nav { position: absolute; display: block; width: 100%; height: 0; left: 0; top: 40%; opacity: 1; 
-webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }
#corpo .sugestoes .fast_rotativo2:hover .owl-nav { opacity: 1; }
#corpo .sugestoes .fast_rotativo2 .owl-nav .owl-prev img, 
#corpo .sugestoes .fast_rotativo2 .owl-nav .owl-next img { position: relative; display: block; width: 100%; margin: 0 auto; padding: 0; }
 .owl-carousel.fast_rotativo2 .owl-nav .owl-prev,
 .owl-carousel.fast_rotativo2 
 .owl-nav .owl-next { position: absolute; width: 2.9%; display: block; padding: 2% 0.6% !important; border: 1px solid #303030; border-radius: 50px; }
#corpo .fast_rotativo2 .owl-nav .owl-prev { left: -6.5%;padding: 0.8% 1.2% 0.8% 0.9% !important;}
#corpo .fast_rotativo2 .owl-nav .owl-next { right: -6.5%;padding: 0.8% 0.9% 0.8% 1.2%!important; }

 .container-botao-sugestao{width:100%; margin:4% auto 7%; text-align:center;}
 a.btn-primario{font-size:0.8vw;background:#0D0303; color:#FFFFFF; padding:1% 2%; border-radius:999px; cursor:pointer; font-weight: 600;}

/* rotativo marcas */
#corpo .marcas::before{padding-top: 23%;}
.marcas h2{font-weight:400;font-size:1.5vw; text-align:center;}
#corpo .marcas .owl-nav, #corpo .marcas .owl-dots{display:none;}

.fast_marcas { position: relative; display: block; margin: 0 auto; width: 80%; max-width: 1600px; }
.fast_marcas picture{width:100%; display:inline-block}
/* video yotube */
#corpo .video{margin-top: 8%; position:relative}
#corpo .video::before{ padding: 0; padding-top: 35.0625%;}
.flex_wrapper { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }

.flex_wrapper .size_wrapper { width: 60%; margin-bottom: -15%; margin-right:23%; } 
.flex_wrapper .size_wrapper .video_wrapper { position: relative; margin: 0 height: 0; width: 75%; padding-bottom: 56.25%; /* 16:9 */     }
    
.flex_wrapper .size_wrapper .video_wrapper .spot_video { margin: 0 auto 50px; width: 95%; position: absolute; top: 0; left: 0; width: 100%; height: 80%; }

#corpo .video .texto-video{width:40%;position:absolute; top: 17%; right: 2%; }
#corpo .video .texto-video h2{width:71%;margin-bottom:10%;}
#corpo .video .texto-video .botao a.btn-primario{font-size:0.8vw;background:#0D0303; color:#FFFFFF; padding:2% 3%; border-radius:999px; cursor:pointer; font-weight: 600;}

/* banner app */
#corpo .banner_app::before{padding-top: 30%; }
#corpo .banner_app{margin-top:5%;}
#corpo .banner_app picture{width:50%;}
#corpo .banner_app picture img{width:83%; position:absolute;top:0%; left:50vw;  z-index:1;}
#corpo .banner_app .texto-banner-app{width:40%;position:absolute; top:16%; left:8%}
#corpo .banner_app .texto-banner-app .logo-app-lejour{width:7%;}
#corpo .banner_app .texto-banner-app h2{width:81%;font-size:1.7vw;}
#corpo .banner_app .texto-banner-app p{font-size:1.45vw;}
#corpo .banner_app .background{width: 100%; height:22vw; background:#F2E4DC;position:absolute; top:4vw;}
#corpo .banner_app  .links-app{display:flex; gap:2%;}
#corpo .banner_app  .links-app img{width:24%; position:relative;}
#corpo .banner_app  .links-app a{width:23%; height:22%; background:transparent; position:absolute; cursor:pointer;}
#corpo .banner_app  .links-app a.google-play{left:26%}
#corpo .banner_app .barra-divisao{margin-top:5%}
/* imagem de como funciona */
#corpo .banner_como_funciona::before{padding-top: 36%; }
#corpo .banner_como_funciona{margin:5% auto 0%;}
#corpo .banner_como_funciona h2{font-size:2vw; text-align:center;margin-bottom:5%;}
#corpo .banner_como_funciona picture{width:65%; margin:0 auto;}
#corpo  .container-botao{width:100%;font-size:1vw;margin:7% auto 10%; text-align:center;}
#corpo  .container-botao .btn-primario{font-size:0.8vw; font-weight: 600;}

/* ROTATIO DEPOIMENTOS */
#corpo .depoimentos::before{padding-top:51%;}
#corpo .depoimentos .carousel_depoimentos{width:90%;margin:0;}
#corpo .depoimentos .carousel_depoimentos .fast_depoimentos{width:112%;margin:0 -3vw}
#corpo .depoimentos .carousel_depoimentos .carousel_depoimentos{width:90%; margin-left:3%;}
#corpo .depoimentos h2{width:42%;font-size:2.5vw;text-align: center;margin:0 auto 5%;}

#corpo .depoimentos .fast_depoimentos .card{width:51%; border: 1px solid #111; position: relative;padding:3% 8% 2% 8%; border-radius:10px;margin-top:22%;}

#corpo .depoimentos .fast_depoimentos .card .imagem-casal{position: absolute; bottom:90%; left:32%; }
#corpo .depoimentos .fast_depoimentos .card .imagem-casal img{width:51%;}
#corpo .depoimentos .fast_depoimentos .card .text-casal{text-align: center;padding:4%; margin-top:15%}
#corpo .depoimentos .fast_depoimentos .card .text-casal h3{font-size:1.5vw;}
#corpo .depoimentos .fast_depoimentos .card .text-casal p{font-size:0.92vw;}
/* faq */
.aniversario_faq { padding-bottom: 8rem;}
#aniversario_sanfona_faq { width: 60%; margin: 0 auto;}
.aniversario_faq #aniversario_sanfona_faq h2 {text-align: center;width: 100%;letter-spacing: 0.3vw;color: #050709;font-weight: 600;font-size: 2vw;margin: 5% auto 0;padding: 50px 0px 30px;     font-family: Arial, Helvetica, sans-serif;}
.aniversario_sanfona_item {position: relative; cursor: pointer; border-radius: 999px;     font-size: 1.3vw; color: #303030; border: 1px solid #30303030; margin:-1%; }
.aniversario_sanfona_item_ativo {border-radius:25px; }
.aniversario_sanfona_titulo p{font-size:0.9vw;font-weight: bold; margin-left:3%;}
.aniversario_sanfona_seta { position: absolute; width: 3%; right: 2%; top: 25%;transform: rotate(0deg);filter: grayscale(100%);}
.aniversario_sanfona_conteudo { max-height: 0;overflow: hidden;transition: 200ms;}
.aniversario_sanfona_conteudo p { width: 90%; font-size:1vw;line-height: 18pt;margin-top: 1vw; margin-left:3%;}
.aniversario_sanfona_item_ativo .aniversario_sanfona_seta { transform: rotate(180deg);}
.aniversario_sanfona_item_ativo .aniversario_sanfona_conteudo{transition: max-height 500ms; max-height: 500px;} 

.link-ver-mais{ text-align: center; margin-top:3%}
.link-ver-mais a{font-weight:bold; cursor:pointer; color:#303030;}


@media (min-width:1600px){
  .nav .botoes a.btn-primario {width:12%;padding:0.5% 2%;}
  #corpo .sugestoes::before{padding-top:46%;}
  #corpo .depoimentos h2{width:49%;}
}

@media(max-width:1100px){
/* BANNER TOPO */
#corpo .banner_capa::before{padding-top:88.0625%;}
 #corpo .banner_capa picture { display: block;width: 100%;}
 #corpo .banner_capa picture img{width:100%; height:auto;}
 #corpo .banner_capa .texto-banner {top:45%;}
 #corpo .banner_capa .texto-banner h1 {font-size:7.5vw; line-height:7vw;}
 #corpo .banner_capa .texto-banner p{width:64%;font-size:2.8vw}
 #corpo .banner_capa .texto-banner a{font-size:2vw;font-weight:700}

 #corpo .banner_capa .texto-banner .botoes-banner{display:flex;gap:4%}
 #corpo .banner_capa .texto-banner .acesso-mobile{width:28%;display:flex;align-items:center;justify-content:center;gap:7%; font-size:2vw;background:#ffffff;padding:2% 2%;border-radius:999px;margin-top: 1%;    color: #303030; }
 #corpo .banner_capa .texto-banner .acesso-mobile img{width:12%; }
/* NAVEGAÇÃO */

.nav .botoes a.btn-primario {display:none;}
.nav .botoes a {font-size:2.1vw;font-weight:600; padding:1% 2%}
/* rotativo */
#corpo .sugestoes::before {padding-top: 114%;}
.fast_rotativo2 picture{width:91%;}
.sugestoes h2{width:64%; font-size:5.2vw;}

.sugestoes .texto-solucoes h3{font-size:3vw} 
.sugestoes .texto-solucoes p{font-size:2.4vw}

.owl-carousel.fast_rotativo2 .owl-nav .owl-prev, .owl-carousel.fast_rotativo2 .owl-nav .owl-next {
    width: 5%;
}
a.btn-primario{font-size:3vw; padding:3% 24%;}

/* rotativo marcas */
#corpo .marcas::before{padding-top:79%}
.marcas h2{font-size:5vw;}

/* video youtube */
#corpo .video::before{padding-top:100%}
#corpo .video{

}
.flex_wrapper .size_wrapper { width: 79%;margin-right:0;}
.flex_wrapper .size_wrapper .video_wrapper {width:100%; padding-bottom:68.25%}
#corpo .video .texto-video{width:100%;top:46%; right:0%; text-align:center;}
#corpo .video .texto-video h2{width:82%; font-size:5vw; margin:10%}
#corpo .video .texto-video .botao{width:100%}
#corpo .video .texto-video .botao a.btn-primario{font-size:3vw; padding:3% 24%;}
/* banner app */
#corpo .banner_app{margin-top:20%}
#corpo .banner_app::before { padding-top: 142%;}
#corpo .banner_app .background {height:122vw;}
#corpo .banner_app .texto-banner-app {display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;top:45%;left:0; text-align: center;}
#corpo .banner_app .texto-banner-app .logo-app-lejour {width:11%;}

#corpo .banner_app .texto-banner-app h2{font-size:5vw;}
#corpo .banner_app .texto-banner-app p{font-size:3vw;}

#corpo .banner_app .texto-banner-app .links-app{justify-content:center; margin-top:5%;}
#corpo .banner_app picture {width:95%;}
#corpo .banner_app picture img{width:100%;top:-6%;left:2%;}

/* COMO funciona */
#corpo .banner_como_funciona::before{padding-top:85%;}
#corpo .banner_como_funciona h2{font-size:5vw;}
#corpo .container-botao .btn-primario{font-size:3vw;}

/* ROTATIO DEPOIMENTOS */
#corpo .depoimentos::before{padding-top:100%;}
#corpo .depoimentos .carousel_depoimentos .fast_depoimentos{width:112%;margin:0 2vw}
#corpo .depoimentos .fast_depoimentos .card{width:51%; border: 1px solid #111; position: relative;padding:3% 5% 2% 5%; border-radius:10px;margin-top:22%;}

#corpo .depoimentos .fast_depoimentos .card .text-casal h3{font-size:2.5vw;}
#corpo .depoimentos .fast_depoimentos .card .text-casal p{font-size:2vw;} 

/* DOTS ROTATIVO MOBILE */
.fast_depoimentos .owl-dots { display: block; position: relative; margin: 5% auto; width: 100%; text-align: center; }
.fast_depoimentos .owl-dots .owl-dot { display: inline-block; position: relative; outline: none;}
.fast_depoimentos .owl-dots .owl-dot span { display: block; outline: 1px solid #aaaaaa; width: 8px; height: 8px; margin: 0 5px; border-radius: 250px; }
.fast_depoimentos .owl-dots .owl-dot:hover span, 
.fast_depoimentos .owl-dots .owl-dot.active span { background-color: #8f8e8e; } 

/* FAQ */
.aniversario_faq{padding-bottom:3rem;}
.aniversario_faq #aniversario_sanfona_faq h2{font-size:4vw;}
#aniversario_sanfona_faq{width:85%}
.aniversario_sanfona_titulo p {font-size:2vw;}
.aniversario_sanfona_conteudo p{font-size:2vw}

}