#corpo {display: block;position: relative;margin: 0 ; width: 100%;max-width: 1600px;box-sizing: border-box; padding: 0; font-family: 'Open Sans', sans-serif; color: #303030;overflow: hidden;}
a{text-decoration: none;}
hr{width:60%; text-align: center;}
.btn-primario{background:#0D0303; color:#FFFFFF; padding:3% 5%; border-radius:999px; cursor:pointer;}


#corpo .banner_capa::before{     padding: 0;     padding-top: 39.0625%; }
#corpo .banner_capa{display: block;width: 100%; margin: 0 auto  4%;}
#corpo .banner_capa picture{display: block;width: 100%;}
#corpo .banner_capa picture img{position: relative;display: block;width: 100%;}
#corpo #fast_rotativo picture img:hover{width: 100%;}

/* texto do banner */
#corpo .banner_capa .texto-banner{height:92%;position: absolute; top: 50%; left: 5%; transform:translateY(-50%); }
#corpo .banner_capa .texto-banner a{font-size:1vw;background:#756b56; padding:2% 5%; border-radius:999px; margin-top:1%; color:#FFFFFF;}
#corpo .banner_capa .texto-banner h1,
#corpo .banner_capa .texto-banner p{color:#FFFFFF;}

#corpo .banner_capa .texto-banner h1{width:47%;font-size:4.5vw;font-weight:400; margin-bottom:0}
#corpo .banner_capa .texto-banner p{width:46%; margin-bottom:10%}
/* NAVEGAÇÃO NA PAGINA */
.nav{ width: 100%;}
.nav .botoes{display:flex; align-items:center; justify-content:center; gap:2%;}
.nav .botoes a{color:#111111; padding:1% ;border: 1px solid #111111;border-radius:999px}
.nav .botoes a.btn-primario{width:15%;display:flex; align-items:center;gap:7%;background:#0D0303; color:#FFFFFF; cursor:pointer; padding:1% 3%; }

/* rotativo */
#corpo .sugestoes::before{padding-top: 47%;}
#corpo .sugestoes {position: relative; width: 100%;margin: 30px auto 0;}
/* #corpo .sugestoes .botao_sugestao {position: absolute;top: 66%;left: 4%;font-size: 0.9vw;font-weight: 700; color: #FFFFFF;background-color: #303030;border: 1px solid #303030; padding: 0.6% 2.2%;border-radius: 50px;text-decoration: none;}
#corpo .sugestoes .botao_sugestao:hover {color: #303030;border: 1px solid #303030; background-color: #FFFFFF;} */
.sugestoes h2{width:46%;font-size:2.5vw;text-align: center; margin:0 auto 5%;}
.fast_rotativo2 { position: relative; display: block; margin: 0 auto; width: 62%; max-width: 1600px; }

.fast_rotativo2>picture { display: none !important; }
.fast_rotativo2>picture:first-of-type { display: block !important; }

.fast_rotativo2 picture { position: relative; display: inline-block; width: 96%; margin: 0 auto; padding: 0; }
.fast_rotativo2 picture img { display: block; width: 100%; margin: 0 auto; padding: 0; }
.fast_rotativo2 picture a { position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; margin: 0; padding: 0; }

#corpo .sugestoes .fast_rotativo2 .owl-nav { position: absolute; display: block; width: 100%; height: 0; left: 0; top: 40%; opacity: 1; 
-webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }
#corpo .sugestoes .fast_rotativo2:hover .owl-nav { opacity: 1; }
#corpo .sugestoes .fast_rotativo2 .owl-nav .owl-prev img, 
#corpo .sugestoes .fast_rotativo2 .owl-nav .owl-next img { position: relative; display: block; width: 100%; margin: 0 auto; padding: 0; }
 .owl-carousel.fast_rotativo2 .owl-nav .owl-prev,
 .owl-carousel.fast_rotativo2 
 .owl-nav .owl-next { position: absolute; width: 3.4%; display: block; padding: 2% 0.6% !important; border: 1px solid #303030; border-radius: 50px; }
#corpo .fast_rotativo2 .owl-nav .owl-prev { left: -6.5%;padding: 0.8% 1.2% 0.8% 0.9% !important;}
#corpo .fast_rotativo2 .owl-nav .owl-next { right: -6.5%;padding: 0.8% 0.9% 0.8% 1.2%!important; }

.sugestoes .container-botao{width:100%; margin:0 auto 5%; text-align:center;}
.sugestoes a.btn-primario{background:#0D0303; color:#FFFFFF; padding:1% 2%; border-radius:999px; cursor:pointer; }

/* rotativo marcas */
#corpo .marcas::before{padding-top: 30%;}
.marcas h2{font-weight:400; text-align:center;}
#corpo .marcas .owl-nav, #corpo .marcas .owl-dots{display:none;}
/* video yotube */
#corpo .video{margin-top: 8%; position:relative}
#corpo .video::before{ padding: 0; padding-top: 52.0625%;}
.flex_wrapper { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }

.flex_wrapper .size_wrapper { width: 80%; /* Controls size of the video based on size of the parent */ margin-bottom: -15%; /* Or any other value as needed */ } 
.flex_wrapper .size_wrapper .video_wrapper { position: relative; margin: 0 height: 0; width: 60%; padding-bottom: 56.25%; /* 16:9 */     }
    
.flex_wrapper .size_wrapper .video_wrapper .spot_video { margin: 0 auto 50px; width: 100%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 16px; }

#corpo .video .texto-video{width:40%;position:absolute; top: 25%; right: 0; }
#corpo .video .texto-video .botao a.btn-primario{background:#0D0303; color:#FFFFFF; padding:3% 5%; border-radius:999px; cursor:pointer;}

/* banner app */
#corpo .banner_app::before{padding-top: 52%; }
#corpo .banner_app picture img{position:relative}
#corpo .banner_app .texto-banner-app{width:40%;position:absolute; top:31%; left:8%}


/* imagem de como funciona */
#corpo .banner_como_funciona::before{padding-top: 52%; }
#corpo .banner_como_funciona{margin:5% auto 10%;}
#corpo .banner_como_funciona .botao{width:100%;text-align: center}
#corpo .banner_como_funciona picture{width:80%; margin:0 auto;}
/* depoimentos */
#corpo .depoimentos{width:90%; margin:0 auto;}
#corpo .depoimentos h2{text-align: center;}
#corpo .depoimentos .cards-casais{display:flex; margin-top:15%; gap:3%;}
#corpo .depoimentos .cards-casais .card{width:25%; border: 1px solid #111; position: relative;padding:7% 3% 3% 3%; border-radius:10px;}
#corpo .depoimentos .cards-casais .imagem-casal{position: absolute; bottom:81%; left:50%;  transform: translateX(-50%) }
#corpo .depoimentos .cards-casais .text-casal{text-align: center}
#corpo .depoimentos .cards-casais .text-casal h3{margin-top:40%}

/* faq */
.aniversario_faq { padding-bottom: 8rem;}
#aniversario_sanfona_faq { width: 75%; margin: 0 auto;}
.aniversario_faq #aniversario_sanfona_faq h2 {text-align: center;width: 100%;letter-spacing: 0.3vw;color: #050709;font-weight: 600;font-size: 25px;margin: 0px;padding: 50px 0px 30px;     font-family: Arial, Helvetica, sans-serif;}
.aniversario_sanfona_item {position: relative; padding: 0.5rem; cursor: pointer; border-radius: 999px;     font-size: 1.3vw; color: #303030; border: 1px solid #30303030; }
.aniversario_sanfona_item_ativo {border-radius:25px; }
.aniversario_sanfona_titulo p{font-weight: bold; margin-left:3%;}
.aniversario_sanfona_seta { position: absolute; width: 3%; right: 2%; top: 25%;transform: rotate(0deg);filter: grayscale(100%);}
.aniversario_sanfona_conteudo { max-height: 0;overflow: hidden;transition: 200ms;}
.aniversario_sanfona_conteudo p { width: 90%; line-height: 18pt;margin-top: 1vw; margin-left:3%;}
.aniversario_sanfona_item_ativo .aniversario_sanfona_seta { transform: rotate(180deg);}
.aniversario_sanfona_item_ativo .aniversario_sanfona_conteudo{transition: max-height 500ms; max-height: 500px;} 

.link-ver-mais{ text-align: center; margin-top:3%}
.link-ver-mais a{font-weight:bold; cursor:pointer;}
